#add-info {

    padding: 0;
    text-align: center;

    h2 {
        padding-bottom: 20px;
    }

    .grey {
        background-color: #e7ebee;

        p,
        h2 {
            color: #1a1f3a;
        }
    }

    .darkblue {
        background-color: #1a1f3a;

        p,
        h2 {

            color: #e7ebee;
        }
    }

}