#header-baner {

    h1 {
        color: white;
        padding: 40px;
    }
}

#header-baner {
    
    background-image: url(/img/DAF-The-New-XF.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 150px 0px 150px 0px;
}

article {

    h2,
    h3 {
        // padding: 20px 0px 20px 0px;
        padding-bottom: 10px;
    }

    ul {
        padding-left: 0;

        li {
            font-size: 23px;
            padding-top: 4px;
        }
    }



    p {
        font-size: 26px;
        color: black;
    }

}