#header-baner {

    h1 {
        color: white;
        padding: 200px 40px;
        position:relative;
    }

    background-image: url(/img/DAF-The-New-XF.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

article {

    h2,
    h3 {
        // padding: 20px 0px 20px 0px;
        padding-bottom: 10px;
    }

    ul {
        padding-left: 0;

        li {
            font-size: 23px;
            padding-top: 4px;

            a {
                font-size: 32px;
            }
        }
    }

    p {
        font-size: 26px;
        color: black;
    }

}