#baner-blue {

    padding: 50px 60px;
    background-color: #1a1f3a;

    h2,
    h5 {
        color: #f4f6f8;
        padding: 10px 0px;
    }

    #caller-first {
        background-color: #f4f6f8;
        border-radius: 2px;
    }
}

#baner-white {

    padding: 50px 60px;
    background-color: #f4f6f8;

    h2,
    h5 {
        color: #1a1f3a;
    }

    #caller-second {
        background-color: #fff;
        border-radius: 10px;
    }
}