#baner,
#baner-blue {
    padding: 50px 60px;
    background-color: #1a1f3a;

    h2,
    h5 {
        color: #fff;
        padding: 10px 0px;
    }
}

#baner-blue {
    background-color: #f4f6f8;

    h2,
    h5 {
        color: #07354c;
    }

    button {
        background-color: white;
    }
}

#caller {

    width: auto;
    height: auto;
    background-color: #07354c;
    padding: auto;

    a {
        color: #7f8795;
    }
}