#header-baner {

    h1 {
        color: white;
        padding: 230px 40px 0px 40px;
    }

    background-image: url(/img/DAF-The-New-XF.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media all and (max-width: 768px) {
    #header-baner {
        background-image: url(/img/DAF-The-New-XF_Mobile.webp);
    }

    h1 {
        font-size: 34px;
    }
}

article {

    h3 {
        padding: 25px 0px;
    }

    ul {
        padding-left: 0;

        li {
            padding-top: 4px;

            a {
                font-size: 24px;
            }
        }
    }

    p {
        font-size: 20px;
        color: black;
    }
}