#main-nav {
    
    background-color: #fff;
    box-shadow: 0px -1px 10px 1px black;

    a {
        margin: 0 15px;
        font-weight: 400;

        &:hover {
            color: $grey-color;
        }
    }

    @media all and (max-width: 1200px) {

        #nav-container {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        #nav-list {
            justify-content: center !important;
        }
    }
}