#navbar {

    padding: 0;
    background-color: #fff;
    box-shadow: 0px -1px 10px 1px black;
    transition: top 0.4s;

    h2 {
        padding: 10px 0px;
    }

    a {
        text-align: center;
        margin: 10px 15px;
        font-weight: 400;

        &:hover {
            color: $grey-color;
        }
    }


    @media all and (max-width: 768px) {
        li {
            width: 33.33%;
            justify-content: center;
            
        }
    }

}

