#threesteps {

    background-color: rgb(244, 246, 248);
    text-align: center;

    p {
        padding: 10px;
    }

    li {
        padding: 3px;

        a {
            font-size: 22px;
        }
    }

    .circle {
        height: 100px;
        width: 100px;
        background-color: #fff;
        border-radius: 50%;
        margin-bottom: 25px;
        
    }

    i {
        line-height: 100px; 
    }

}