#workshop {

    background-image: url(/img/workshop-section-bg.webp);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    h2 {
        font-size: 48px;
    }

    @media all and (max-width: 768px) {
    
        background-attachment: scroll;
    }

}