
* {
    box-sizing: border-box;
}


body {
    font-family: $primary-font;
    color: $grey-color;
}

i {
    color: $blue-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    color: $grey-color;
    font-weight: 300;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

a, button {
    transition: all .3s;
    text-decoration: none;
    color: $blue-color;
    font-size: 16px;
}

p {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    color: black;
}

li {
    list-style-type: none;
}

section {

    padding: 6% 0% 5% 0%;



    // .section-header {
    //     text-align: center;
    //     margin-bottom: 40px;

    //     p {
    //         margin: auto;
    //         font-weight: 300;
    //     }

    //     @media all and (min-width: $medium) {
    //         p {
    //             max-width: 70%;
    //         }
    //     }
    // }
}

// .container {
//     max-width: $small-container;
//     width: $small-container;
//     padding: 0 23px;
//     margin: 0 auto;
// }


// @media all and (min-width: $large) {
//     .container {
//         max-width: $small-container;
//     }

//     section {
//         padding: 60px 0;
//     }
// }

// @media all and (min-width: $extra-large) {

//     .container {
//         max-width: $extra-large-container;
//     }
// }