@media all and (max-width: 768px) {

    section {
        padding: 0px 0px 20px 0px;
    }

    h2 {
        padding: 40px 0px 0px 0px;
        font-size: 36px !important;
    }

    #faq-ecu-photo {
        padding-top: 50px;
    }
}